
<div id="navbar-main">
    <div class="navbar  navbar-inverse  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="burger fa fa-bars fa-1x"></span>
                </button>
                <a class="navbar-brand  smoothScroll" href="#home"><span class="logo">Dr B.NYC</span></a> <!-- Branding -->
            </div>
            <div class="navbar-collapse  collapse">
                <ul class="nav  navbar-nav  navbar-right">
                    <li><a href="#home" class="smoothScroll">Home</a></li>
                    <li><a href="#services" class="smoothScroll">Services</a></li>
                    <li><a href="#about" class="smoothScroll">About Us</a></li>
                    <li><a href="#testimonials" class="smoothScroll">Testimonials</a></li>
                    <li><a href="#contact" class="smoothScroll">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- navigation ends -->



<div class="header-wrap center" id="home" name="home">
    <header class="clearfix">
        <h1 class="animated  fadeInUp">John Brennan</h1>
        <p class="animated  fadeInUp">Obstetrician</p>
        <h3 class="animated  fadeInUp">Brooklyn & NYC</h3>
    </header>	    
</div><!-- header ends -->



<div id="services" class="services-wrap center">
    <br>
    <div class="row">
        <br>
        <br>
        <h1 class="center">Services</h1>
        <hr>
        <br>
        <br> 
        <div class="col-lg-3  callout">
            <i class="fa fa-heartbeat fa-3x"></i>
            <h2>Health</h2> 
            <p>That tall drink of water with the silver spoon up his ass. you measure yourself by the people who measure themselves by you.</p> 
        </div>	
        <div class="col-lg-3  callout">
            <i class="fa fa-stethoscope fa-3x"></i>
            <h2>Wellbeing</h2>
            <p>Well, what is it today? more spelunking? mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked.</p>
        </div>	
        <div class="col-lg-3  callout">
            <i class="fa fa-medkit fa-3x"></i>
            <h2>Exams</h2>
            <p>Your entrance was good, his was better. we got no food we got no money and our pets heads are falling off! Some crazy ipsum right here, I tell ya!</p>
        </div>    
        <div class="col-lg-3  callout">
            <i class="fa fa-hospital-o fa-3x"></i>
            <h2>Childbirth</h2>
            <p>Brain freeze. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter.</p>
        </div>
    </div>
    <br>
    <p class="center"><em>"I wasn't scared of childbirth. I educated myself and did my fair share of research, and that made me feel a little more prepared."</em><br>- Jamie-Lynn Sigler</p>
    <br>
</div><!-- services/features section ends -->

    



<div class="container" id="about" name="about">
    <div class="row">
        <br>
        <br>
        <h1 class="center">About Us</h1>
        <hr>
        <br>
        <br> 
        <div class="row  center"><!-- bio pics -->
            <div class="col-lg-6  center">
                <img class="img  img-circle  team-member" src="assets/images/john.jpg" height="155px" width="155px" alt="">
                <br>
                <h4><b>John Brennan</b></h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quas eum excepturi possimus, doloremque eaque laudantium accusamus beatae amet unde, recusandae eligendi ab labore at dolorem tempora! Officia, dolore, qui.</p> 
            </div>

            <div class="col-lg-6  center">
                <img class="img  img-circle  team-member" src="assets/img/team-2%20.jpg" height="155px" width="155px" alt="">
                <br>
                <h4><b>Jais Brennan</b></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sunt culpa rem, officia fuga facere quod, nulla ut ad impedit tempora nemo placeat delectus adipisci explicabo in atque, iste est.</p>
            </div>
        </div><!-- end bio pics -->      
    </div>
</div><!-- about section ends -->
	



<section class="divider center">
    <div id="testimonials" class="container">
        <div class="row">
            <h1>Testimonials</h1>
            <hr>
            <div class="col-lg-12 center test-quote">
                <p>Dr. Brennan is my FAVORITE doctor. Period. I have been a patient for close to two decades.  Dr. Brennan has an excellent bedside manner --consistently courteous and professional. He is highly skilled and respected, as he has trained many other doctors and is a board certified formerly LICH affiliated doctor. He has been my primary care physician as well as my ob/gyn doctor.  He deserves more vacation as he is a workaholic, and is relentlessly willing to serve his patients.  He is blessed and has been a blessing to me many times.  Thank you Dr. Brennan!</p>
                <p>Crystal P. - Yelp</p>
            </div>
            <br>
            <div class="col-lg-12 center test-quote">
                <p>Dr. Brennan and his wife, Jayce [sic], were absolutely amazing during my pregnancy and during and after the delivery of my baby. They are practical people who practice traditional medicine, with good sense, and both of them have a great sense of humor. They took time to listen to all our concerns and answered all our questions (and we had a lot as first-time parents).</p>
                <p>User - Park Slope Parents</p>
            </div>
            <br>
            <div class=" col-lg-12 center test-quote healthgrades">
                <ul>
                    <li><i class="fa fa-star icon-2x"></i></li> 
                    <li><i class="fa fa-star icon-2x"></i></li>
                    <li><i class="fa fa-star icon-2x"></i></li>
                    <li><i class="fa fa-star icon-2x"></i></li>
                    <li><i class="fa fa-star-half-full icon-2x"></i></li>     
                </ul>
               <p>- healthgrades.com</p>
            </div>
        </div>
    </div>
</section><!-- testimonials ends -->  



<div id="contact" class="container center">
    <h1>Say Hello!</h1>
    <hr>
    <div class="address">
        <ul>
            <li>153 Clinton St</li>
            <li>Brooklyn, NY 11201</li>
            <li>Phone: (718) 222-3636</li>
        </ul>
    </div>
</div>



<!-- map image -->
<section id="map" class="divider    q center" name="contact"></section>




<div class="copyright center">
    <div class="container">
        <h5>&copy; 2015 John Brennan LLC</h5>
    </div>
</div><!-- copyright section ends -->

