
    <div id="navbar-main">
        <div class="navbar  navbar-inverse  navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon  icon-menu"></span>
                    </button>
                    <a class="navbar-brand  smoothScroll" href="#home"><span class="logo">Dr B.NYC</span></a> <!-- Branding -->
                </div>
                <div class="navbar-collapse  collapse">
                    <ul class="nav  navbar-nav  navbar-right">
                        <li><a href="#home" class="smoothScroll">Home</a></li>
                        <li><a href="#about" class="smoothScroll">About</a></li>
                        <li><a href="#team" class="smoothScroll">Our Team</a></li>
                        <li><a href="#testimonials" class="smoothScroll">Testimonials</a></li>
                        <li><a href="#contact" class="smoothScroll">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- navigation ends -->
    


    <div class="header-wrap  center" id="home" name="home">
        <header class="clearfix">
            <h1 class="animated  fadeInUp">John Brennan</h1>
            <p class="animated  fadeInUp">Obstetrician</p>
            <h3 class="animated  fadeInUp">Brooklyn & Manhattan</h3>
        </header>	    
    </div><!-- header ends -->
    


    <div class="services-wrap center">
        <br>
        <div class="row">
            
            <div class="col-lg-3  callout">
                <span class="icon  icon-screen"></span>
                <h2>Web Design.</h2> 
                <p>That tall drink of water with the silver spoon up his ass. you measure yourself by the people who measure themselves by you.</p> 
            </div>	
            <div class="col-lg-3  callout">
                <span class="icon  icon-quill"></span>
                <h2>Branding.</h2>
                <p>Well, what is it today? more spelunking? mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked.</p>
            </div>	
            <div class="col-lg-3  callout">
                <span class="icon  icon-cogs"></span>
                <h2>Development.</h2>
                <p>Your entrance was good, his was better. we got no food we got no money and our pets heads are falling off!</p>
            </div>    
            <div class="col-lg-3  callout">
                <span class="icon  icon-droplet"></span>
                <h2>Illustration.</h2>
                <p>Brain freeze. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter.</p>
            </div>
            
        </div>
        <br>
    </div><!-- services/features section ends -->
    
    

    <section class="divider  divider-bg-1  center">
        <div class="container">
            <h1>Good design is innovative.</h1>
            <hr>
            <p>The possibilities for innovation are not, by any means, exhausted.</p>
        </div>
    </section><!-- #1 divider ends -->
        
    


    <div class="container" id="about" name="about">
        <div class="row">
            <br>
            <br>
            <h1 class="center">About Us</h1>
            <hr>
            <br>
            <br>

            <div class="col-lg-4">
                <p>We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.</p>
            </div><!-- col-lg-4 -->
            
            <div class="col-lg-4">
                <p>We are a fairly small, flexible design studio that designs for print and web. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results. We work flexibly with clients to fulfil their design needs.</p>
            </div><!-- col-lg-4 -->

            <div class="col-lg-4">
                <p>We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results. We work flexibly with clients to fulfil their design needs.</p>
            </div><!-- col-lg-4 -->
            
        </div>
        <br>
        <br>
    </div><!-- about section ends -->
		
    

    
    <!-- Team/staff section starts here -->
    <div class="container" id="team" name="team">
        <br>
        <div class="row  center">
            <br>
            <h1 class="center">MEET THE TEAM</h1>
            <hr>
            <br>
            <br>
            
            <!-- Single team member -->
            <div class="col-lg-3  center">
                <img class="img  img-circle  team-member" src="assets/img/team-1.jpg" height="155px" width="155px" alt="">
                <br>
                <h4><b>Harone Desertblast</b></h4> <!-- Name -->
                <a href="#">@twitter</a>
                <!-- <a href="#" class="icon icon-twitter"></a> Uncomment to use icons
                <a href="#" class="icon icon-facebook"></a> -->
                <p>Harone is our Creative Director, digital designer, web designer and front-end developer.</p> <!-- Description -->
            </div><!-- single team member ends -->

            <div class="col-lg-3  center">
                <img class="img  img-circle  team-member" src="assets/img/team-2%20.jpg" height="155px" width="155px" alt="">
                <br>
                <h4><b>Alrakis Wacoltn</b></h4>
                <a href="#">@twitter</a>
                <!-- <a href="#" class="icon icon-twitter"></a> Uncomment to use icons
                <a href="#" class="icon icon-facebook"></a> -->
                <p>Alrakis is our Art Director and specialises in graphic and print design.</p>
            </div>

            <div class="col-lg-3  center">
                <img class="img  img-circle  team-member" src="assets/img/team-3.jpg" height="155px" width="155px" alt="">
                <br>
                <h4><b>Ghesty Starblast</b></h4>
                <a href="#">@twitter</a>
                <!-- <a href="#" class="icon icon-twitter"></a> Uncomment to use icons
                <a href="#" class="icon icon-facebook"></a> -->
                <p>Being a project manager is a hard task, but Ghesty loves what she does.</p>
            </div>

            <div class="col-lg-3  center">
                <img class="img  img-circle  team-member" src="assets/img/team-4.jpg" height="155px" width="155px" alt="">
                <br>
                <h4><b>Rig Wilisth</b></h4>
                <a href="#">@twitter</a>
                <!-- <a href="#" class="icon icon-twitter"></a> Uncomment to use icons
                <a href="#" class="icon icon-facebook"></a> -->
                <p>Web designer with knowledge of HTML5 and CSS3.</p>
            </div>

        </div>
        <br>
    </div><!-- team/staff section ends -->

    
    <!-- #4 Divider with few words/quote -->
    <section class="divider  divider-bg-4  center">
        <div id="testimonials" class="container">
            <h1>Testimonials, Brah!</h1>
            <hr>
            <p>Dr. Brennan is my FAVORITE doctor. Period. I have been a patient for close to two decades.  Dr. Brennan has an excellent bedside manner --consistently courteous and professional. He is highly skilled and respected, as he has trained many other doctors and is a board certified formerly LICH affiliated doctor. He has been my primary care physician as well as my ob/gyn doctor.  He deserves more vacation as he is a workaholic, and is relentlessly willing to serve his patients.  He is blessed and has been a blessing to me many times.  Thank you Dr. Brennan!</p>
            <p>Crystal P. - Yelp</p>
            <br>
            <p>Dr. Brennan and his wife, Jayce, were absolutely amazing during my pregnancy and during and after the delivery of my baby. They are practical people who practice traditional medicine, with good sense, and both of them have a great sense of humor. They took time to listen to all our concerns and answered all our questions (and we had a lot as first-time parents).</p>
            <p>Park Slope Parents</p>
            <p class="healthgrades">
                <ul >
                    <li><i class="fa fa-star icon-2x"></i></li> 
                    <li><i class="fa fa-star icon-2x"></i></li>
                    <li><i class="fa fa-star icon-2x"></i></li>
                    <li><i class="fa fa-star icon-2x"></i></li>
                    <li><i class="fa fa-star-half-full icon-2x"></i></li>     
                </ul>
                healthgrades.com
            </p>
        </div>
    </section><!-- #4 divider ends -->  
    
		
    <section class="divider  divider-bg-5  center" name="contact">
        <div id="contact" class="container address">
            <h1>Say Hello!</h1>
            <hr>
            <p>153 Clinton St</p>
            <p>Brooklyn, NY 11201</p>
            <p>Phone</p>
            <p><a class="icon  icon-google-plus" href="#"></a> <a class="icon  icon-twitter" href="#"></a> <a class="icon  icon-facebook" href="#"></a> <a class="icon  icon-flickr" href="#"></a></p>
        </div>
    </section><!-- footer section ends -->

        <div class="copyright  center">
        <div class="container">
            <h5>&copy; 2015 John Brennan LLC</h5>
        </div>
    </div><!-- copyright section ends -->

