

.john-wrapper {
	height: 180px;
	width: 180px;

}

.john {
	background: url('john.jpg') no-repeat center;
	height: 180px;
	width: 180px;
	border-radius: 50%;
	border: 3px solid #26c6eb;
	text-align: center;
}