
.header-wrap {
    background: url('homepage.jpg') no-repeat center top;
    padding-top: 140px;
    margin-top: -50px;
    min-height: 750px;
    width: 100%;
    
    -webkit-background-size: 100%;
       -moz-background-size: 100%;
            background-size: 100%;

    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
}

.header-wrap h1 {
    font-size: 90px;
    font-weight: bold;
    padding-bottom: 50px;
    margin-top: 170px;
    color: #fff;
    text-shadow: 2px 2px 20px rgba(0,0,0, .8);
}

.header-wrap p {
    font-size: 38px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: rgba(38,198,235,1);
    text-shadow: 2px 2px 10px rgba(0,0,0, .7);
}

.header-wrap h3 {
    font-weight: 700;
    font-size: 1.4em;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0, .4);
}

/* Navigation */

.logo {
    font-size: 22px;
    color: #34495e;
}

// .icon-menu {
//     font-size: 20px;
//     color: #34495e;
// }

.navbar-default {
    background-color: #dadada;
    border-color: transparent;
}

.navbar-toggle {
    border: 0px solid transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #999;
    background-color: transparent;
}

.navbar-inverse .navbar-collapse {
    border-color: #ddd;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #16a085;
    color: white;
}

.navbar-inverse {
    background-color: rgba(255, 255, 255, 0.9);
}

.navbar-brand {
    line-height: 19px;
}

.navbar-fixed-top {
    border-width: 0 0 0;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #7e7e7e;
}
