.services-wrap p {
    padding: 15px 0;
    margin: 0 50px;
}

.services-wrap .callout {
    margin-bottom: 20px;
    padding-right: 0;
}

.fa-heartbeat:before {
	color: #F54570;
}
.fa-medkit:before {
	color: #E97D41;
}

.fa-hospital-o:before {
	color: #30BEE5;
}

.fa-star:before {
    color: #F54570;
}

.fa-star-half-full:before {
    color: #F54570;
}