#testimonials {
	h1, p {
		color: #000;
	}
}

.test-quote {
	padding-top: 50px;
}

.healthgrades {
	ul {
		padding-left: 0;
	}
	li {
		display: inline-block;
		list-style: none;
	}
}

.fa-star:before {
    // color: #F54570;
    color: #3b3b3b;
}

.fa-star-half-full:before {
    // color: #F54570;
    color: #3b3b3b;
}